<a href="https://colab.research.google.com/github/mecouto/PA2025/blob/main/Manipula%C3%A7%C3%A3o__de_strings_e_listas_tuplas_dicionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercícios de manipulação de strings

In [7]:
# 1 - Use o método len para imprimir o comprimento da string.

x = "Hello World"
print(len(x))

11

In [8]:
# 2 - Obtenha o primeiro caractere da string txt.

txt = "Hello World"
x = txt[0]
print(x)

H

In [9]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).

txt = "Hello World"
x = txt[2:5:]
print(x)

llo

In [10]:
# 4 - Converta o valor de txt para maiúsculas.

txt = "Hello World"
txt = txt.upper()
print(txt)

HELLO WORLD

In [11]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo

txt = "Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python"
txt= txt.count("de")
print(txt)

3

In [12]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula

txt = "Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python"
txt= txt.split(",")
print(txt)

['Eu gosto de viajar', ' tomar vinho', ' de estudar estudar programação', ' de estudar Python']

In [13]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.

frase= input("Digite uma frase: ")
frase= frase.replace(" ", "#")
print(frase)

Digite uma frase: Eu amo meus gatos
Eu#amo#meus#gatos

In [14]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
palavra1=input("Digite sua Palavra: ").lower()
palavra2=input("Digite sua Palavra: ").lower()
if palavra1 == palavra1[::-1]:
  print("Sua primeira palavra é palíndroma dela mesma")
elif palavra2 == palavra2[::-1]:
  print("Sua segunda palavra é palíndroma dela mesma")
else:
  print("São Palíndromas Mútuas")

Digite sua Palavra: Amor
Digite sua Palavra: Roma
São Palíndromas Mútuas

In [15]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
usuario= input("Digite o Nome de Usuário: ").upper()
usuario= usuario[::-1]
print(usuario)

Digite o Nome de Usuário: maria
AIRAM

#Exercícios de Listas, tuplas e dicionários

In [2]:
#Exercício 1: Manipulação de Listas

cidades = ["Mauá", "Ribeirão Pires", "Paranapiacaba", "Holambra", "Curitiba"]
cidades.append("Gramado")
cidades.remove("Ribeirão Pires")
print(cidades)

['Mauá', 'Paranapiacaba', 'Holambra', 'Curitiba', 'Gramado']

In [3]:
#Exercício 2: Operações com Tuplas

cores = ("Vermelho", "Laranja", "Amarelo", "Verde")
novacores = cores + ("Azul", "Roxo")
print(novacores)

('Vermelho', 'Laranja', 'Amarelo', 'Verde', 'Azul', 'Roxo')

In [4]:
#Exercício 3: Dicionários Simples

aluno = {
    'nome':'Yasmim',
    'idade': 13,
    'curso': 'T.I'
}
aluno['idade'] = 15
aluno['nota'] = 9.0
print(aluno)

{'nome': 'Yasmim', 'idade': 15, 'curso': 'T.I', 'nota': 9.0}

In [5]:
#Exercício 4: Listas e Dicionários
produto = [
    {'nome': 'Hambúrguer', 'preco': 29},
    {'nome': 'Refrigerante', 'preco': 7}
]
novo = {'nome': 'Batata frita', 'preco': 9}
produto.append(novo)
produto[0]['preco'] /=2
print(produto)

[{'nome': 'Hambúrguer', 'preco': 14.5}, {'nome': 'Refrigerante', 'preco': 7}, {'nome': 'Batata frita', 'preco': 9}]

In [6]:
#Exercício 5: Analisando uma Lista de Tuplas

nome_idade =[("Maria", 15),("Alana", 24),("júlia", 49), ("Helloisa", 75),]

idadevelho = 0
nomevelho = ""

if nome_idade[0][1] > idadevelho:
  idadevelho = nome_idade[0][1]
  nomevelho = nome_idade[0][0]
  if nome_idade[1][1] > idadevelho:
    idadevelho = nome_idade[1][1]
    nomevelho = nome_idade[1][0]
    if nome_idade[2][1] > idadevelho:
      idadevelho = nome_idade[2][1]
      nomevelho = nome_idade[2][0]
      if nome_idade[3][1] > idadevelho:
        idadevelho = nome_idade[3][1]
        nomevelho = nome_idade[3][0]

media = nome_idade[0][1] + nome_idade[1][1] + nome_idade[2][1] + nome_idade[3][1]
media = media/len(nome_idade)

print("a pessoa mais velha é", nomevelho, "com", idadevelho, "anos.")
print("A idade média das pessoas é", media)

a pessoa mais velha é Helloisa com 75 anos.
A idade média das pessoas é 40.75