<a href="https://colab.research.google.com/github/mecouto/PA2025/blob/main/Variaveis_e_operadores_aritimeticos/variaveisconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variaveis constantes

In [ ]:
idade = 15
altura = 1,64
nome = "Maria Eduarda"
vai = True

In [ ]:
nomes = ["Maria Eduarda", "Alana"]
nomes2 = ("Manuella", "Helloisa")
tudo = {"nome": "Maria Eduarda", "idade": 15, "altura":1.64}

In [ ]:
print (nome)
print (nomes)
print (nomes2)
print (tudo)

Maria Eduarda
['Maria Eduarda', 'Alana']
('Manuella', 'Helloisa')
{'nome': 'Maria Eduarda', 'idade': 15, 'altura': 1.64}

In [ ]:
print (type(idade))
print (type(altura))
print (type(vai))
print (type(nome))
print (type(nomes))
print (type(nomes2))

<class 'int'>
<class 'tuple'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
print ("o nome dela é:", nome, ",sua idade é:", idade, "anos", ",ela tem", altura, "metros")

o nome dela é: Maria Eduarda ,sua idade é: 15 anos ,ela tem (1, 64) metros

In [ ]:
print(f"nome: {nome}, altura: {altura}")

nome: Maria Eduarda, altura: (1, 64)

Área do círculo

In [ ]:
PI = 3.14159
raio = float(input("Digite o valor do raio do círculo"))

Digite o valor do raio do círculo05

In [ ]:
areacir = PI * (raio**2)

In [ ]:
print(f"A área do círculo é {areacir}")

A área do círculo é 78.53975

Área do quadrado

In [ ]:
lado = float(input("Digite o valor do lado do quadrado"))

Digite o valor do lao do quadrado6

In [ ]:
areaqua = lado **2

In [ ]:
print(f"A área do quadrado é {areaqua}")

A área do quadrado é 36.0